# Research data supplied by the author, not redistributed from this repository.
# The record words are Keranen / Gavrilenko's; word-anatomy.js verifies them
# locally and its test skips cleanly when they are absent.
keranen_*.txt

# Copyrighted papers. Cited in MATH_CLAIMS.md, never redistributed.
latest/*.pdf
*.pdf
